body {
  padding: 10px;
}

/* index.html------------------ */

/* .listings {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.listing {
  width: 250px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  cursor: pointer;
}

.listing__image {
  align-self: center;
  object-fit: contain;
} */

.card-listing {
  max-width: 15rem;
  margin-right: 1rem;
  cursor: pointer;
}

.card-listing:hover {
  transform: scale(1.1);
}

.card-img-top {
  width: 150px;
  height: 200px;
  object-fit: contain;
  align-self: center;
}
