{% extends "auctions/layout.html" %} {% block body %}
<h2 class="mb-4">Closed Listings</h2>

<div class="row ml-auto mr-auto">
  {% for listing in listings %}
  <div class="col-md-4 col-lg-3 col-xl-2 mb-4">
    <div class="card card-listing h-100 d-flex flex-column">
      <img
        class="card-img-top img-fluid"
        src="{{ listing.image_url }}"
        alt="{{ listing.title }}"
        class="position-relative"
        />
        <span
          class="badge badge-danger position-absolute top-0 start-50 translate-middle-x"
          style="font-size: 1rem"
          >Closed</span>
      
      <div class="card-body">
        <h4 class="card-title">{{ listing.title|truncatechars:30 }}</h4>
        <p class="card-text">{{ listing.description|truncatechars:60 }}</p>
        <a
          href="{% url 'listing_details' listing.id %}"
          class="stretched-link"
        ></a>
      </div>
      <div class="card-footer mt-auto">
        <p class="card-text">$ {{ listing.current_bid }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center mt-4">
    {% if listings.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1" aria-label="First">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ listings.previous_page_number }}">
          {{ listings.previous_page_number }}
        </a>
      </li>
    {% endif %}

    <li class="page-item active">
      <span class="page-link">{{ listings.number }} <span class="sr-only">(current)</span></span>
    </li>

    {% if listings.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ listings.next_page_number }}">
          {{ listings.next_page_number }}
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ listings.paginator.num_pages }}" aria-label="Last">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% endif %}
  </ul>
</nav>

{% endblock %}
