{% extends "auctions/layout.html" %} {% block body %}

<div class="container mt-5">
  <div class="row justify-content-center align-items-start">
    <div class="col-sm-5 col-lg-3 d-flex flex-column mr-5">
      <img
        width="250px"
        height="300px"
        src="{{listing.image_url}}"
        alt="{{listing.title}}"
        class="position-relative"
        style="object-fit: contain"
      />

      {% if not listing.is_active %}
        <span class="badge badge-danger position-absolute top-0 start-50 translate-middle-x" style="font-size: 1rem">Closed</span>
      {% endif %}

      {% if user.is_authenticated and user != listing.creator %}
        <form class="mt-3" action="{% url 'listing_details' listing.id %}" method="post">
          {% csrf_token %}
          {% if listing.is_active %}
            <input class="btn btn-info"  type="submit" name="watchlist_form" value="{{watchlist_input}}"/>
          {% elif not listing.is_active %}
            <input class="btn btn-info" type="submit" value="Remove to Watchlist"/>
          {% endif %}
        </form>
      
        <!-- Watchlist Messages -->
        {% if messages %} 
          {% for message in messages %}
            {% if message.tags == 'watchlist_success success' or message.tags == 'watchlist_error error' %}
              <p class="mt-3 alert {% if message.tags == 'watchlist_success success' %}alert-success
                {% elif message.tags == 'watchlist_error error' %}alert-danger{% endif %}" role="alert">
                {{ message }}
              </p>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    </div> 

    <div class="col-sm-6 col-md-6 d-flex flex-column">
      <small><a href="{% url 'categories'  %}"> Categories </a>  <i class="fa-solid fa-circle-right ml-1 mr-1 mb-2"></i>  <a href="{% url 'listings_by_category' listing.category  %}">{{listing.category}}</a></small>
      <h3>{{listing.title}}</h3>
      <div class="overflow-auto mb-3 mt-2" style="max-height: 250px" >{{listing.description}}</div>
      <table class="table table-borderless" style="max-width: 350px">
        <tbody>
          <tr>
            <td class="pl-0" style="vertical-align: middle">Listed by:</td>
            <td> <strong>{{listing.creator}}</strong> <br> <span class="text-black-50">{{ listing.dateTime }}</span></td>
          </tr>
          <tr>
            <td class="pl-0">Start bid:</td>
            <td class="text-muted">{{listing.starting_bid}} $</td>
          </tr>
          {% if listing.start_bid|floatformat < listing.current_bid|floatformat %}
          <tr>
            <td class="pl-0">Current bid:</td>
            <td class="text-muted">{{listing.current_bid}} $</td>
          </tr>
        {% endif %} 
        </tbody>
      </table>
      
      <p>{{listing.get_bid_count}} bid(s) so far.</p>

      {% if user.is_authenticated %}
        {% if listing.is_active %}
          {% if listing.current_bidder == user %}
            <p class="alert alert-success">You currently have the highest bid!</p>
          {% elif user_has_bid and listing.current_bidder != user%}
            <p class="alert alert-warning">Your bid was overbid.</p>
          {% elif not user_has_bid  and user != listing.creator%}
            <p class="alert alert-info">You haven't placed a bid on this listing yet.</p>
          {% endif %}
        {% else %}
          {% if listing.current_bidder == user %}
            <p class="alert alert-success">You won the auction.</p>
          {% elif user_has_bid and listing.current_bidder != user%}
          <p class="alert alert-warning">Your bid was overbid.</p>
          {% endif %}
        {% endif %}
      {% endif %} 


      <!-- Close Listing Form (for the creator) -->
      {% if user == listing.creator %} 
        {% if listing.is_active %}
          <form action="{% url 'close_listing' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Close listing" class="btn btn-info" />
          </form>
        {% else %}
          <!-- Closed Listing Message -->
          <span class="mt-3 alert alert-danger">The listing is closed!</span>
        {% endif %}
  
      {% elif user.is_authenticated and listing.is_active %}
        <!-- Bidding Form for Authenticated Users -->
        <form action="{% url 'add_bid' listing.id %}" method="post">
          {% csrf_token %}
          <div class="d-flex ">
            <div class="input-group mt-3" >
              <div class="input-group-prepend">
                {{form}}
                <div class="input-group-text">$</div>
              </div>
            </div>
            <input type="submit" value="Place Bid" class="mt-3 btn btn-secondary" />
          </div>
          
          <!-- Bidding Messages -->
          {% if messages %} 
            {% for message in messages %}
              {% if message.tags == 'add_bid_success success' or message.tags == 'add_bid_error error' %}
                <p class=" mt-3 alert {% if message.tags == 'add_bid_success success' %}alert-success{% elif message.tags == 'add_bid_error error' %}alert-danger{% endif %}" role="alert">
                  {{ message }}
                </p>
              {% endif %}
            {% endfor %}
          {% endif %}
        </form>
  
      {% elif not user.is_authenticated %}
          <!-- Not Authenticated User Message -->
          <p class="alert alert-primary">You must be logged in to bid or add to watchlist.</p>
      {% endif %}
    </div>
  </div>
<hr>
  <div class="row justify-content-center align-items-start">
    <div class="col-sm-5  col-lg-3 d-flex flex-column mr-5">
      {% if user.is_authenticated and listing.is_active %}
        <form action="{% url 'listing_details' listing.id %}" method="post">
          {% csrf_token %}
          {{commentForm}}
          <input type="submit" name="comment_form" value="Send Comment" class="mt-3 btn btn-primary" />
        </form>
      {% endif %}
    </div>
    
    <div class="col-sm-6 col-md-6 d-flex flex-column ">
      <h3 class="mt-2 mb-3">Comments</h3>
      <div class="overflow-auto" style="height: 250px">
        {% for comment in comments %}
            <div class="media mt-4">
              <div class="media-body">
                <div class="d-flex justify-content-between">
                  <h5 class="mb-3">{{ comment.user.username }}</h5>
                  <small class="text-muted">{{ comment.dateTime }}</small>
                </div>
                <p>{{ comment.content }}</p>
              </div>
            </div>
            <hr>
        {% endfor %} 
      </div>
  </div>
</div>
{% endblock %}
