{% extends "auctions/layout.html" %} {% block body %}
<h2 class="mb-4">My Listings</h2>

{% if not my_listings %}
  <p class="ml-5">No listings yet.</p>
{% else %}

  <div class="row ml-auto mr-auto">
    {% for listing in my_listings %}
    <div class="col-md-4 col-lg-3 col-xl-2 mb-4">
      <div class="card card-listing h-100 d-flex flex-column">
        <img
          class="card-img-top img-fluid"
          src="{{ listing.image_url }}"
          alt="{{ listing.title }}"
          class="position-relative"
        />
        {% if not listing.is_active %}
        <span
          class="badge badge-danger position-absolute top-0 start-50 translate-middle-x"
          style="font-size: 1rem"
          >Closed</span
        >
        {% endif %}
        <div class="card-body">
          <h3 class="card-title">{{ listing.title|truncatechars:30 }}</h3>
          <p class="card-text">{{ listing.description|truncatechars:60 }}</p>
          <a
            href="{% url 'listing_details' listing.id %}"
            class="stretched-link"
          ></a>
        </div>
        <div class="card-footer mt-auto">
          <p class="card-text">$ {{ listing.current_bid }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-4">
      {% if my_listings.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ my_listings.previous_page_number }}">
            {{ my_listings.previous_page_number }}
          </a>
        </li>
      {% endif %}

      <li class="page-item active">
        <span class="page-link">{{ my_listings.number }} <span class="sr-only">(current)</span></span>
      </li>

      {% if my_listings.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ my_listings.next_page_number }}">
            {{ my_listings.next_page_number }}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ my_listings.paginator.num_pages }}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>

{% endif %}
{% endblock %}
