<!-- watchlist.html -->

{% extends "auctions/layout.html" %} {% block body %}

<h2 class="pl-5 mb-4">Watchlist</h2>

{% if not watchlist %}
  <p class="ml-5">The watchlist is empty.</p>
{% else %}

  <div class="row ml-auto mr-auto">
    {% for listing in watchlist %}
    <div class="col-md-4 col-lg-3 col-xl-2 mb-4 position-relative">
      <div class=" card card-listing h-100 d-flex flex-column ">
        <img
          class="card-img-top img-fluid"
          src="{{ listing.image_url }}"
          alt="{{ listing.title }}"
        />
      {% if not listing.is_active %}
      <span
        class="badge badge-danger position-absolute top-0 start-50 translate-middle-x"
        style="font-size: 1rem"
        >Closed</span
      >
      {% endif %}
        <div class="card-body">
          <h4 class="card-title">{{ listing.title|truncatechars:30 }}</h4>
          <p class="card-text">{{ listing.description|truncatechars:60 }}</p>
          <a
          href="{% url 'listing_details' listing.id %}"
          class="stretched-link"
          ></a>
        </div>
        <div class="card-footer mt-auto">
          <p class="card-text">$ {{ listing.current_bid }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-4">
      {% if watchlist.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ watchlist.previous_page_number }}">
            {{ watchlist.previous_page_number }}
          </a>
        </li>
      {% endif %}

      <li class="page-item active">
        <span class="page-link">{{ watchlist.number }} <span class="sr-only">(current)</span></span>
      </li>

      {% if watchlist.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ watchlist.next_page_number }}">
            {{ watchlist.next_page_number }}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ my_listings.paginator.num_pages }}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
{% endblock %}
