<!-- watchlist.html -->

{% extends "auctions/layout.html" %} {% block body %}

<h2 class="pl-5 mb-4">Watchlist</h2>

<div class="row">
  {% for listing in watchlist %}
  <div class="col-md-4 col-lg-3 col-xl-2 mb-4 position-relative">
    <div class=" card card-listing h-100 d-flex flex-column ">
      <img
        class="card-img-top img-fluid"
        src="{{ listing.image_url }}"
        alt="{{ listing.title }}"
      />
    {% if not listing.is_active %}
    <span
      class="badge badge-danger position-absolute top-0 start-50 translate-middle-x"
      style="font-size: 1rem"
      >Closed</span
    >
    {% endif %}
      <div class="card-body">
        <h4 class="card-title">{{ listing.title|truncatechars:30 }}</h4>
        <p class="card-text">{{ listing.description|truncatechars:60 }}</p>
        <a
        href="{% url 'listing_details' listing.id %}"
        class="stretched-link"
        ></a>
      </div>
      <div class="card-footer mt-auto">
        <p class="card-text">$ {{ listing.current_bid }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
